@keyframes fadeIn {
    0% {
        color: #D5C9C9
    }

    100% {
        color: #F25430;
    }
}

@keyframes fadeOut {
    0% {
        background-color: #f27f42;
        color: white;
        border-radius: 5%;
    }

    100% {
        background-color: #d5c9c9;
        color: #f27f42;
    }
}

@font-face {
    font-family: 'Circe-25';
    src: url(../fonts/CRC25.otf)
}

@font-face {
    font-family: 'Circe-35';
    src: url(../fonts/CRC35.otf)
}

@font-face {
    font-family: 'Circe-55';
    src: url(../fonts/CRC55.otf)
}

@font-face {
    font-family: 'Circe-65';
    src: url(../fonts/CRC65.otf)
}

/** body **/

body {
    background-color: white;
    font-family: 'Circe-65', sans-serif;
}

#content {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 15vh;
}

/** main **/

.pattern {
    position: absolute;
    z-index: 1;
}

#main {
    display: flex
}

#main .pattern img {
    scale: -1 1;
}

.top {
    z-index: 2;
    display: flex;
    flex-flow: row;
}

.top div {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
}

#main .top img {
    translate: 0% -10%;
}

#main .top div h2 {
    color: #F25430;
    font-size: xx-large;
}

.top div h1 {
    color: #282D26;
    font-weight: bolder;
    font-size: 350%;
    line-height: 80%;
}

/** about us **/

#about-us {
    display: flex;
    flex-direction: column;
}

#about-us .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#about-us .cards div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex: 1;
}

#about-us-content {
    display: flex;
}

#about-us-content .top {
    display: flex;
}

#about-us-content .top div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: end;
    justify-content: center;
}

#about-us-content .top div h1 {
    color: #282D26;
    font-size: 800%;
    text-align: left;
    flex: 1;
    align-self: flex-end;
    justify-self: center;
}

#about-us-content .top div h2 {
    color: #282D26;
    font-size: large;
    flex: 1;
}

#about-us-content .pattern {
    flex: 1;
}

#about-us-content .pattern img {
    rotate: 90deg;
    scale: 1 -1;
    translate: -10% 30%;
}

#about-us div .top img {
    scale: 0.9 0.9;
}

.card {
    flex: 1;
    padding: 10px 20px 10px 20px;
    background-color: #2f4822;
    border-radius: 2%;
    flex-wrap: nowrap;
    display: flex;
}

.card img {
    width: 15%;
    height: auto;
    flex: 1;
}

.card h2 {
    flex: 4;
    font-weight: bold;
    font-size: xx-large;
    color: #D5C9C9;
    text-wrap: wrap;
    text-align: start;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #EADFDF;
}

.cell {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 2px dashed #2F4822;
    align-items: center;
    justify-content: end;
    text-align: center;
}

.cell:last-child {
    border-right: 0px;
}

.icon {
    width: 50%;
    height: auto;
}

.number {
    font-size: 450%;
    font-weight: bold;
    margin-top: 10px;
}

.text {
    margin-top: 5px;
    font-size: 150%;
    color: #282D26;
    font-family: 'Circe-35', sans-serif;
}

.title {
    width: 40%;
    padding: 10px;
    font-size: 350%;
    color: #D5C9C9;
    background-color: #2F4822;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-align: center;
}

.title-background {
    background-color: #EADFDF;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

#tours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.slider-title {
    font-size: 500%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 50px;
  }
  
  .slide {
    flex: 0 0 33.33%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide img {
    border-radius: 4% 4% 0% 0%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

.slide-content {
    background: linear-gradient(0deg, #EADFDF, #EADFDF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border-radius: 0% 0% 4% 4%;
    padding: 18px;
    flex: auto;
}

#slide-sub-text {
    color: #675b2f;
    font-family: "Circe-35", sans-serif;
}

#star-i {
    width: 3%;
    height: auto;
}

.slide-title {
    color: #282D26;
    font-size: large;
}

.controls {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .prev,
  .next {
    background-color: #2F4822;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    color: #D5C9C9;
    border-radius: 10px;
  }

#portfolio {
    display: flex;
}

.portfolio-text {
    font-size: 200%;
}

#prices {
   display: flex;
   flex-direction: column; 
   margin-bottom: 100px;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.prices-main {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

#price-sub-text {
    color: #282D26;
    font-family: "Circe-35", sans-serif;
}

#price-title {
    font-size: 200%;
    color: #282D26;
    margin-top: 3%;
    margin-bottom: 3%;
}

.price-content {
    background: linear-gradient(0deg, #EADFDF, #EADFDF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border-radius: 4% 4% 4% 4%;
    padding: 18px;
    flex: auto;
    flex-wrap: wrap;
}
/** header **/

header {
    margin: -1%;
    position: fixed;
    display: flex;
    font-family: 'Circe-55', sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: #2f4822;
    z-index: 3;
    width: 100vw;
}

header .logo {
    flex: 1.5;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 1%;
}

header .logo img {
    width: 35%;
    height: auto;
}

header .menu {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
}

header .menu a {
    color: #D5C9C9;
    text-decoration: none;
    text-wrap: nowrap;
    text-align: center;
    letter-spacing: 0.1rem;
}

header .contact {
    flex: 1;
    align-self: center;
    text-align: right;
    margin: 3% 7% 3% 5%;
}

header .contact a {
    background-color: #F25430;
    color: #F5F5F5;
    text-decoration: none;
    text-transform: uppercase;
    text-wrap: nowrap;
    text-align: center;
    border-radius: 7%;
    padding: 10%;
    letter-spacing: 0.1rem;
}


/* Change the background color on mouse-over */
header .menu a:hover {
    color: #F25430;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

footer {
    background-color: #2F4822;
    display: flex;
    padding: 0px 20px;
}

footer img {
    width: 5%;
    height: auto;
    flex: auto;
}

footer div {
    color: #D5C9C9;
    justify-content: start;
    align-items: start;
    text-align: end;
    align-content: center;
    flex: auto;
}

.footer-title {
    font-size: 300%;
}

.footer-content {
    font-size: small;
}

#logo {
    width: 10%;
    height: auto;
    padding-top: 20px;
}